<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.fabric.sdk.android.unity">
  <application>
    <meta-data android:name="io.fabric.ApiKey" android:value="ab0328d1f8aeb67ac9441a3c9296bf906233827e" />
    <meta-data android:name="io.fabric.unity.crashlytics.version" android:value="1.2.5" />
    <meta-data android:name="io.fabric.crashlytics.qualified" android:value="com.crashlytics.android.Crashlytics" />
    <meta-data android:name="io.fabric.crashlytics.unqualified" android:value="Crashlytics" />
    <meta-data android:name="io.fabric.kits" android:value="crashlytics" />
    <meta-data android:name="io.fabric.InitializationType" android:value="Automatic" />
  </application>
</manifest>